# Parquet

## Simulate 100M rows of temperature monitoring from three sensors

In [1]:
import numpy as np
import pandas as pd

import pyarrow as pa
import pyarrow.parquet as pq

In [2]:
df = pd.DataFrame(data=np.random.randint(0,100,size=(100000000,3),dtype=np.uint8),    # values
             columns=['one','two','three'])
df.shape

(100000000, 3)

In [3]:
table = pa.Table.from_pandas(df,preserve_index=False) # you can skip the index column
table

pyarrow.Table
one: uint8
two: uint8
three: uint8
metadata
--------
OrderedDict([(b'pandas',
              b'{"index_columns": [], "column_indexes": [], "columns": [{"na'
              b'me": "one", "field_name": "one", "pandas_type": "uint8", "nu'
              b'mpy_type": "uint8", "metadata": null}, {"name": "two", "fiel'
              b'd_name": "two", "pandas_type": "uint8", "numpy_type": "uint8'
              b'", "metadata": null}, {"name": "three", "field_name": "three'
              b'", "pandas_type": "uint8", "numpy_type": "uint8", "metadata"'
              b': null}], "creator": {"library": "pyarrow", "version": "0.13'
              b'.0"}, "pandas_version": null}')])

In [4]:
%%time
#pq.write_table(table,'example.parquet')
pq.write_to_dataset(table,root_path='dataset.parquet',partition_cols=['one'],flavor='spark')

Wall time: 16 s

In [5]:
table2 = pq.read_table('dataset.parquet/',columns=['two']) # faster if you only load the columns you need
df = table2.to_pandas()
len(df)

100000000

In [8]:
parquet_file = pq.ParquetFile('dataset.parquet/one=0/23e435d1fb6b4b47b3f60403983dc651.parquet')
print(parquet_file.metadata)
print(parquet_file.schema)

<pyarrow._parquet.FileMetaData object at 0x000002681F9077C8>
  created_by: parquet-cpp version 1.5.1-SNAPSHOT
  num_columns: 2
  num_rows: 999688
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 582
<pyarrow._parquet.ParquetSchema object at 0x000002681F97AEB8>
two: INT32 UINT_8
three: INT32 UINT_8

In [9]:
parquet_file.read_row_group(0).to_pandas()

        two  three
0        54     40
1        50     55
2        39     41
3        63     32
4        96      7
5        65     91
6        58     75
7        56     70
8         5     20
9        27     77
10       12     37
11       65     91
12       92     24
13       91     47
14       10     42
15       66     54
16       80     39
17       49     16
18       21     56
19       67      7
20       43     48
21       67     13
22        8     16
23       48     51
24        8     69
25       72     50
26       81      9
27        3     75
28        6     46
29       30     61
...     ...    ...
999658   59     85
999659   92     99
999660   68     12
999661   98     72
999662   70     84
999663   45     50
999664   67     72
999665   30     89
999666   95     30
999667    6     67
999668   78     44
999669   22     90
999670   88     51
999671    5      7
999672   48     76
999673   21     93
999674   88      3
999675   52     94
999676   46     23
999677   21     99
999678   51     82
999679   69     37
999680   61     35
999681    1     42
999682   67     64
999683   50     87
999684   94     43
999685   78     87
999686   69     22
999687   37     86

[999688 rows x 2 columns]